<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CS600</key>
	<string>Methods of Bioinformatics</string>
	<key>CS635</key>
	<string>Advanced Object Oriented Programming</string>
	<key>CS625</key>
	<string>Spatial Databases</string>
</dict>
</plist>
