<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CS560</key>
	<string>Algorithms and Their Analysis</string>
	<key>CS535</key>
	<string>Object Oriented Programming</string>
	<key>CS520</key>
	<string>Advanced Programming Languages</string>
</dict>
</plist>
